[user]
	name = Robert Long
	email = robert@trabian.com
[core]
	excludesfile = /Users/robertlong/.gitignore_global
	editor = vim
[colur]
	ui = true
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	lg = log --oneline --decorate --all --graph
    sup = !git push --set-upstream origin `git symbolic-ref --short HEAD`
    set-upstream = !git push --set-upstream origin `git symbolic-ref --short HEAD`
    cb = !git rev-parse --abbrev-ref HEAD | xargs echo -n | pbcopy
[push]
	default = simple
[color]
    ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
